

<div class="row justify-content-center">
    <div  id="category-makes"  class="card col-4 m-3">
      <h3> edit categories and makes</h3>
        <% @categories.each do |c| %>
          <div class='border m-1'>
          /<%= c.slug %><br>

          <%= link_to c.title + " (#{c.instruments.count.to_s})", edit_category_path(c), class:"btn btn-secondary"  %>
          <ul>
          <% c.makes.each do |m| %>
          <li>
            <%= link_to m.title + " (#{m.instruments.count.to_s})", edit_make_path(m), class: "make-link" %>
            </li>
          <% end %>
          </ul>
          <br>
          </div>
        <% end %>

    </div>


    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col-4" style="border-style: solid; min-height: 200px;">
      <%= render template: 'site_settings/index' %>
    </div>
    <div class="col-4 m-3">
      reserved slugs:
      <ul>
      <% ReservedSlugs::RESERVED_SLUGS.each do |s| %>
      <li>
          <%= link_to '/' + s, '/' + s, class:"" %>
          </li>
      <% end %>
      </ul>
    </div>
</div>
