<p style="color: green"><%= notice %></p>

<%= render @category %>

<ul>

<%= render 'category_instruments', category: @category %>

<h3>makes</h3>
<% @category.makes.each do |make| %>
  <li>
    <%= link_to make.title, admin_category_make_path(@category,make) %>
  </li>
<% end %>
</ul>

<div>
  <%= link_to "Edit this category", edit_admin_category_path(@category) %> |
  <%= link_to "Back to categories", admin_categories_path %>

  <%= button_to "Destroy this category", [:admin, @category], method: :delete, data: { turbo_confirm: "are you sure? will destroy related makes."} %>
</div>
