<div id="<%= dom_id site_setting %>">

  <p>
    <strong>Google tag:</strong>
    <%= site_setting.google_tag %>
  </p>

  <p>
    <strong>Motd:</strong>
    <%= site_setting.motd %>
  </p>

  <p>
    <strong>About:</strong>
    <%= site_setting.about %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= site_setting.contact %>
  </p>

</div>
