<!DOCTYPE html>
<html>
  <head>
    <title>Steve Gray Saxes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='container'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-5">

      <div class="container-fluid">
        <%= link_to "Steve Gray's", root_path, class:"card navbar-brand root-link bg-light", style:"border-radius: 10px; border-width:0px; padding: 1%;" %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    </ul>
  </div>
  </div>
</nav>
    <div id="main_view">

      <%= yield %>

      <footer class="py-3 my-4">
        <ul class="nav justify-content-center">

        <li class="nav-item "> <%= link_to "home", root_path, class:"nav-link px-2 text-muted" %></li>

        <% Make.all.each do |make| %>
          <li class="nav-item mx-2"> <%= link_to make.title, admin_make_path(make), class:"nav-link px-2 text-muted" %></li>
        <% end %>
      </ul>

      <%= link_to "dashboard", admin_dashboard_index_path, class: 'dashboard-btn nav-link btn btn-primary' %>

      <p class="text-center text-muted">© 2024
        steve gray </p>
    </footer>
    </div>
  </body>
</html>
