
<table id="<%= dom_id category %>" border="2" cellpadding="5" cellspacing="5" width="930">
<tbody>
        <tr>
      <th colspan="8" bgcolor="#CDA54D" scope="col"> <h1 align="center"><strong><%= category.title %></strong></h1>
      </th>
      </tr>
        <tr>
      <td width="113" bgcolor="#999999"><div align="center">Manufacturer</div></td>
          <td width="96" bgcolor="#999999"><div align="center">Model</div></td>
          <td width="61" bgcolor="#999999"><div align="center">Serial #</div></td>
          <td width="75" bgcolor="#999999"><div align="center">Condition</div></td>
          <td width="49" bgcolor="#999999"><div align="center">Year</div></td>
          <td width="50" bgcolor="#999999"><div align="center">Price</div></td>
          <td width="155" bgcolor="#999999"><div align="center">Comments</div></td>
          <td width="40" bgcolor="#999999"><div align="center">Link</div></td>
    </tr>
       <% category.makes.each do |c| %>
       <tr>
       <th colspan="8" bgcolor="#CDA54D" scope="col"> <h3 align="center"><strong><%= c.title %></strong></h3>
       </th>
       </tr>
        <% c.instruments.each do |i| %>
            <tr>

            <td width="113"><div align="center"> <%= link_to i do %><%= i.manafacturer %><% end %></div></td>
            <td width="96"><div align="center">  <%= i.model_type %></div></td>
            <td width="61"><div align="center">  <%= i.serial_no %></div></td>
            <td width="75"><div align="center">  <%= i.condition %></div></td>
            <td width="49"><div align="center">  <%= i.year.present? ? i.year.year : i.year_est %></div></td>
            <td width="50"><div align="center">  <%= i.price %></div></td>
            <td width="155"><div align="center"> <%= i.details %></div></td>
            <td width="50"> <%= link_to 'show', i, class:'btn btn-primary' %></td>

            </tr>
        <% end %>
        <% end %>

      </tbody></table>
