<p style="color: green"><%= notice %></p>

<%= render @category %>

<ul>

<%= render 'category_instruments', category: @category %>

<h3>makes</h3>
<% @category.makes.each do |make| %>
  <li>
    <%= link_to make.title, category_make_path(@category,make) %>
  </li>
<% end %>
</ul>

<div>
  <%= link_to "Back to categories", categories_path %>

</div>
