<%= form_with(model: icon) do |form| %>
  <% if icon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(icon.errors.count, "error") %> prohibited this icon from being saved:</h2>

      <ul>
        <% icon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fa_class, style: "display: block" %>
    <%= form.text_field :fa_class %>
  </div>

  <div>
    <%= form.label :fa_icon, style: "display: block" %>
    <%= form.text_field :fa_icon %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
