<div id="<%= dom_id icon %>">

  sorry: font awesome icons not added yet
  <p>
    <strong>Fa class:</strong>
    <%= icon.fa_class %>
  </p>

  <p>
    <strong>Fa icon:</strong>
    <%= icon.fa_icon %>
  </p>

  <i class="<%= icon.fa_class %> <%= icon.fa_icon %>">
  </i>

</div>
