<div id="<%= dom_id instrument %>">
  <p>
    <strong>Manafacturer:</strong>
    <%= instrument.manafacturer %>
  </p>

  <p>
    <strong>Model type:</strong>
    <%= instrument.model_type %>
  </p>

  <p>
    <strong>Serial no:</strong>
    <%= instrument.serial_no %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= instrument.year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= instrument.price %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= instrument.details %>
  </p>

</div>
