<div id="<%= dom_id instrument %>">

  <strong>
  <%= instrument.make.title if instrument.make.present? %>
  </strong>
  <p>
    <strong>Manafacturer:</strong>
    <%= instrument.manafacturer %>
  </p>

  <p>
    <strong>Model type:</strong>
    <%= instrument.model_type %>
  </p>

  <p>
    <strong>Serial no:</strong>
    <%= instrument.serial_no %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= instrument.year %>
  </p>

  <% if !instrument.year.present? %>
    <strong>Year or decade:</strong>
    <%= instrument.year_est %>
  <% end %>

  <p>
    <strong>Price:</strong>
    <%= instrument.price %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= instrument.details %>
  </p>

</div>
