<p style="color: green"><%= notice %></p>

<%= render @flickr_photo %>

<div>
  <%= link_to "Edit this flickr photo", edit_flickr_photo_path(@flickr_photo) %> |
  <%= link_to "Back to flickr photos", flickr_photos_path %>

  <%= button_to "Destroy this flickr photo", @flickr_photo, method: :delete %>
</div>
