<p style="color: green"><%= notice %></p>




<%= render @flickr_photo, photo_set: @photo_set %>

<% if @flickr_photo.photo_set.present? %>
<p style="color: green">photo album detected</p>

<% else %>
  No photoset detected: renders embed.
<% end %>
<div>
  <%= link_to "Edit this flickr photo", edit_flickr_photo_path(@flickr_photo) %> |
  <%= link_to "Back to flickr photos", flickr_photos_path %>

  <%= button_to "Destroy this flickr photo", @flickr_photo, method: :delete %>
</div>
